
Password\.Tests/bin/

Password\.Tests/obj/

Password\.Infrastructure/bin/

Password\.Infrastructure/obj/

Password\.Application/bin/

Password\.Application/obj/

Password/bin/

Password/obj/

\.vs/

packages/
